html,
body {
  background-image: url(sizedpinknotebookpaper.png);
  background-size: cover;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#eraser {
  position: absolute;
  top: 0px;
  left: 0px;
}

#corner {
  position: absolute;
  bottom: -50px;
  right: -40px;
}
